{% extends "partials/base.html" %}
{% block content %}
    <div class="content-section">
        <h5 id="err" style='color:red;text-align:center;display:none'></h5>
        <form method="POST" id="book_delete">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2 id="atitle"></h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
<script>
        var pk = {{pk}}
        $.ajax({
            type:"GET",
            url:http+'/book/book-delete/'+pk,
            success:(data)=>{
                console.log(data)
                var html="<h2> Are you sure you want to delete the post " + data.title + "</h2>"
    
                $('#atitle').append(html)
            },
            error:(error)=>{
                if(error.status == 404){
                    window.location.replace(http+"/")
                }
                else{
                    $('#err').show()
                    $("#err").html("Server error please refresh and try again")
                }
            }
        })
        $("#book_delete").submit(function(event){
            event.preventDefault();
            let data ={}
            $.ajax({
                url:http+"/book-delete/"+pk+"/",
                type:"POST",
                dataType:"JSON",
                data:data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                  },
                success:()=>{
                    window.location.replace(http+"/")
                },
                error:(error)=>{
                        $('#err').show()
                        $("#err").html("Server error please refresh and try again")
                },
            });
            return false;
        });




</script>
{% endblock %}