{% extends "partials/base.html"%}
{% block content %}
    <div class="content-section">
      <h5 id="err" style='color:red;text-align:center;display:none'></h5>
        <form method="POST" novalidate id='update_book'>
            {% csrf_token %}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Update Book</legend>
            </fieldset>
            <label for="btitle">Title:</label>
            <input type="text" id="btitle" name="btitle" value=""><br>
            <p id="errtitle" style='color:red;display:none'></p>

            <label for="btags">Author:</label>
            <input type="text" id="btags" name="btags" data-role="tagsinput"><br>
            <p class="text-info">-Please Press Tab Or , To Add Another Author.</p>
            <p id="errauth" style='color:red;display:none'></p>
            <label for="bstatus">Status:</label>

            <select name="bstatus" id="bstatus">
              <option value=1 >Available</option>
              <option value=2 >Checked Out</option>
              <option value=3>Damaged</option>
              <option value=4>Lost</option>
            </select>
            <br />
            <label for="btype">Type:</label>

            <select name="btype" id="btype">
              <option value=1 >Hardcover</option>
              <option value=2 >Paperback</option>
              <option value=3>Digital Copy</option>
            </select>
            <br />
            <label for="blocation">Location:</label>
            
            <select name="blocation" id="blocation">
              <option value=1 >Exactus Office</option>
              <option value=2 >Owner's Home</option>
            </select>
            <br />


            <br />

            <br />


            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Update Book</button>
            </div>


        </form>
    </div>

{% endblock content %}
{% block javascript %}
<script>
  var valCheckTitle = false;
  var valCheckAuth = false;
    var pk = {{pk}}
    $.ajax({
        type:"GET",
        url:http+'/book/update/detail/'+pk,
        success:(data)=>{
          var html1=''
          var html2=''
          var html3=''
          console.log(data)
          if(data.data.location==3){
            $('#blocation').html("<option value=3 >In the Matrix</option>")
          }
          $(data.data.author_tags).each(function(index,value){

            $('#btags').tagsinput('add',value.author)
          })
          $('#btitle').val(data.data.title);
          $('#bstatus').val(data.data.status);
          $('#btype').val(data.data.type)
          $('#blocation').val(data.data.location)
          $('#btags').val(data.data.author_tags);      
        },
        error:(error)=>{
          if(error.status == 404){
            window.location.replace(http+"/")
          }
          else{
            $('#err').show()
            $("#err").html("Server error please refresh and try again")
          }
        }
    })
    $("#update_book").submit(function(event){
      event.preventDefault();
      valTitle($('#btitle').val())
      valAuth($('#btags').tagsinput('items'))
      if(valCheckTitle===true&&valCheckAuth===true){
        let data ={
          title:$('#btitle').val(),
          author_tags:$('#btags').tagsinput('items'),
          status:$('#bstatus').val(),
          type:$('#btype').val(),
          location:$('#blocation').val(),
        }
        $.ajax({
            url:http+'/book/update/detail/'+pk+"/",
            type:"POST",
            dataType:"JSON",
            data:data,
            beforeSend: function (xhr){
              xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success:()=>{
                window.location.replace(http+"/book/detail/"+pk)
            },
            error:(error)=>{
              $('#err').show()
              $("#err").html("Server error please refresh and try again")
            },
        });
    }
  return false;
});
$("#btype").change(function () {
  var val = $(this).val();
  if(val==3){
    $('#blocation').html("<option value=3 >In the Matrix</option>")
  }
  else{
    $('#blocation').html("<option value=1 >Exactus Office</option><option value=2>Owner's Home</option>")
  }

})
function valTitle(text){
  if(text.trim().length==0){
      $('#errtitle').show()
      $("#errtitle").html("Empty Title input please input your Title properly.")
      valCheckTitle = false
      return false
  }
  if(text.length>100){
      $('#errtitle').show()
      $("#errtitle").html("Title input exceed max length please try again.")
      valCheckTitle = false
      return false
  }
  $('#errtitle').hide()
  valCheckTitle = true
  return true
}
function valAuth(auth){
  if(!auth||!auth.length){
    $('#errauth').show()
    $("#errauth").html("Empty Author input please input  Author List properly.")
    valCheckAuth = false
    return false
  }
  auth.map(function(name){
    if(name>50){
      $('#errauth').show()
      $("#errauth").html("Author name: "+name+" exceeds max length please re evaluate your input")
      valCheckAuth = false
      return false
    }
  })
  $('#errauth').hide()
  valCheckAuth = true
  return true
}




</script>
{% endblock %}