{% extends "partials/base.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST" novalidate id='update_book'>
            {% csrf_token %}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Update Book</legend>
            </fieldset>
            <label for="btitle">Title:</label>
            <input type="text" id="btitle" name="btitle" value=""><br><br>

            <label for="btags">Author:</label>
            <input type="text" id="btags" name="btags" data-role="tagsinput"><br><br>

            <label for="bstatus">Status:</label>

            <select name="bstatus" id="bstatus">
              <option value=1 >Available</option>
              <option value=2 >Checked Out</option>
              <option value=3>Damaged</option>
              <option value=4>Lost</option>
            </select>
            <br />
            <label for="btype">Type:</label>

            <select name="btype" id="btype">
              <option value=1 >Hardcover</option>
              <option value=2 >Paperback</option>
              <option value=3>Digital Copy</option>
            </select>
            <br />
            <label for="blocation">Location:</label>
            
            <select name="blocation" id="blocation">
              <option value=1 >Exactus Office</option>
              <option value=2 >Owner’s Home</option>
              <option value=3>In the Matrix</option>
            </select>
            <br />
            <label for="bowner">Owner:</label>
            
            <select name="bowner" id="bowner">
            </select>

            <br />
            <label for="bcheck">Checked out by:</label>
            
            <select name="bcheck" id="bcheck">
            </select>

            <br />


            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>


        </form>
    </div>

{% endblock content %}
{% block javascript %}
<script>
$(document).ready(function() {
    var pk = {{pk}}
    $.ajax({
        type:"GET",
        url:'http://127.0.0.1:8000/book/update/detail/'+pk,
        success:(data)=>{
          var html1=''
          var html2=''
          var html3=''
          console.log(data)
          $(data.data2).each(function(index,value){
            if(data.data.owner==value.id){
              html1+="<option value="+value.id+" selected>" + value.full_name + "</option>"
            }
            else{
              html1+="<option value="+value.id+" >" + value.full_name + "</option>"
            }
            
          })
          $(data.data2).each(function(index,value){
            if(data.data.checked_out_by==value.id){
              html2+="<option value="+value.id+" selected>" + value.full_name + "</option>"
            }
            else{
              html2+="<option value="+value.id+" >" + value.full_name + "</option>"
            }
            
          })
          $(data.data.author_tags).each(function(index,value){

            $('#btags').tagsinput('add',value.author)
          })
          $('#btitle').val(data.data.title);
          $('#bstatus').val(data.data.status);
          $('#btype').val(data.data.type)
          $('#blocation').val(data.data.location)
          $("#bowner").append(html1)
          $("#bcheck").append(html2)
          $('#btags').val(data.data.author_tags);      
        },
        error:(error)=>{
            console.log(error)
        }
    })
    $("#update_book").submit(function(event){
      event.preventDefault();
      console.log($('#bauthor').val())
      $.ajax({
          url:'http://127.0.0.1:8000/book/update/detail/'+pk+"/",
          type:"POST",
          dataType:"JSON",
          data:{
              title:$('#btitle').val(),
              author_tags:$('#btags').tagsinput('items'),
              status:$('#bstatus').val(),
              type:$('#btype').val(),
              location:$('#blocation').val(),
              owner:$('#bowner').val(),
              checked_out_by:$('#bcheck').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success:()=>{
              window.location.replace("http://127.0.0.1:8000/book/detail/"+pk)
          },
          error:(error)=>{
              console.log(error)
          },
      });
  return false;
});




});

</script>
{% endblock %}