{% extends "partials/base.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST" novalidate id='post_book'>
            {% csrf_token %}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Add New Book</legend>
            </fieldset>
            <label for="btitle">Title:</label>
            <input type="text" id="btitle" name="btitle"><br><br>

            <label for="btags">Author:</label>
            <input type="text" id="btags" name="btags" data-role="tagsinput"><br>
            <p class="text-info">-Please Press Tab Or , To Add Another Author.</p>
            <label for="bstatus">Status:</label>

            <select name="bstatus" id="bstatus">
              <option value=1 >Available</option>
              <option value=2 >Checked_out</option>
              <option value=3>Damaged</option>
              <option value=4>Lost</option>
            </select>
            <br />
            <label for="btype">Type:</label>

            <select name="btype" id="btype" >
              <option value=1 >Hardcover</option>
              <option value=2 >Paperback</option>
              <option value=3>Digital Copy</option>
            </select>
            <br />
            <label for="blocation">Location:</label>
            
            <select name="blocation" id="blocation">
              <option value=1 >Exactus Office</option>
              <option value=2 >Owner's Home</option>
            </select>
            <br />

            <br />


            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">ADD BOOK</button>
            </div>


        </form>
    </div>

{% endblock content %}
{% block javascript %}
<script>
$(document).ready(function(){

    $("#post_book").submit(function(event){
        event.preventDefault();
      let data={  
        title:$('#btitle').val(),
        author:$('#bauthor').val(),
        status:$('#bstatus').val(),
        type:$('#btype').val(),
        location:$('#blocation').val(),
        author_tags:$('#btags').tagsinput('items'),
      }
        $.ajax({
            url:http+"/book/",
            type:"POST",
            dataType:"JSON",
            data:data,
            beforeSend: function (xhr){
              xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
            },
            success:()=>{
                window.location.replace("http://127.0.0.1:8000/")
            },
            error:(error)=>{
                console.log(error)
            },
        });
    return false;
});  
$("#btype").change(function () {
  var val = $(this).val();
  if(val==3){
    $('#blocation').html("<option value=3 >In the Matrix</option>")
  }
  else{
    $('#blocation').html("<option value=1 >Exactus Office</option><option value=2>Owner's Home</option>")
  }

})
})
</script>
{% endblock %}

