{% extends "partials/base.html"%}

{% block content %}
    <div class="content-section">
        <h5 id="err" style='color:red;text-align:center;display:none'></h5>
        <form method="POST" novalidate id='post_comment'>
            {% csrf_token %}

            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">New Comment</legend>
            </fieldset>
            <label for="bcomment">Comment Text:</label>
            <input type="text" id="bcomment" name="bcomment" value=""><br>
            <p id="errcm" style='color:red;display:none'></p>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Post Comment</button>

            </div>


        </form>

    </div>

{% endblock content %}
{% block javascript %}
<script>
    var pk = {{pk}}
    var valCheckCM = false
    $("#post_comment").submit(function(event){
        event.preventDefault();

         valCM($('#bcomment').val())

        let data ={
            text:$('#bcomment').val(),
            book:pk,
        }
        if(valCheckCM==true){
            $.ajax({
                url:http+"/book/new-comment/"+pk+"/",
                type:"POST",
                dataType:"JSON",
                data:data,
                beforeSend: function (xhr){
                    xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
                },
                success:()=>{
                    window.location.replace(http+"/book/detail/"+pk)
                },
                error:(error)=>{
                    $('#err').show()
                    $("#err").html("Server error please refresh and try again")
                },
            });
        }
    return false;
});  
function valCM(text) {
    if (text.trim().length == 0) {
        $('#errcm').show()
        $("#errcm").html("Empty Comment input please input your Comment properly.")
        valCheckCM = false
        return false
    }
    if (text.length > 100) {
        $('#errcm').show()
        $("#errcm").html("Comment input exceed max length please try again.")
        valCheckCM = false
        return false
    }
    $('#errcm').hide()
    valCheckCM = true
    return true
}  



</script>
      
{% endblock %}