{% extends "partials/base.html" %}
{% block content %}
    <div class="content-section">
      <h5 id="err" style='color:red;text-align:center;display:none'></h5>
        <form method="POST" id="comment_delete">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Comment</legend>
                <h2 id="atitle"></h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block javascript %}
<script>
var pk = {{pk}}
  $.ajax({
    url: http+"/book/new-comment/"+pk,
    type: "GET",
    dataType: "json",
    success: (data) => {
      console.log(data)
      var html="<h5> Are you sure you want to delete the comment " + data.text + " ?</h5>";
      
        $('#atitle').append(html);
    },
    error: (error) => {
      if(error.status == 404){
        window.location.replace(http+"/")
      }
      else{
        $('#err').show()
        $("#err").html("Server error please refresh and try again")
      }
    }
  });
  $("#comment_delete").submit(function(event){
    event.preventDefault();
    let data = {text:$('#bcomment').val(),}
    $.ajax({
        url:http+"/book/delete-comment/"+pk+"/",
        type:"POST",
        dataType:"JSON",
        data:data,
        beforeSend: function (xhr){
            xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
          },
        success:(data)=>{
           
            window.location.replace(http+"/book/detail/"+data.id)
        },
        error:(error)=>{
          $('#err').show()
          $("#err").html("Server error please refresh and try again")
        },
    });
return false;
});  


</script>
{% endblock %}