{% extends "partials/base.html"%}

{% block content %}
    <div class="content-section">
        <form method="POST" novalidate id='update_comment'>
            {% csrf_token %}

            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Update Comment</legend>
            </fieldset>
            <label for="bcomment">Comment Text:</label>
            <input type="text" id="bcomment" name="bcomment" value=""><br>
            <p id="errcm" style='color:red;display:none'></p>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit">Post Comment</button>

            </div>


        </form>

    </div>

{% endblock content %}
{% block javascript %}
<script>

var pk = {{pk}}
var valCheckCM = false
  $.ajax({
    url: http+"/book/new-comment/"+pk,
    type: "GET",
    dataType: "json",
    success: (data) => {
      console.log(data)
      var html='';
      $('#bcomment').val(data.text)
      

    },
    error: (error) => {
      console.log(error);
    }
  });
  $("#update_comment").submit(function(event){
    event.preventDefault();
    valCM($('#bcomment').val())
    let data = {text:$('#bcomment').val(),}
    $.ajax({
        url:http+"/book/update-comment/"+pk+"/",
        type:"POST",
        dataType:"JSON",
        data:data,
        beforeSend: function (xhr){
            xhr.setRequestHeader('X-CSRFToken', $('input[name=csrfmiddlewaretoken]').val());
          },       
        success:()=>{
            window.location.replace("http://127.0.0.1:8000/")
        },
        error:(error)=>{
            console.log(error)
        },
    });
return false;
});  
function valCM(text){
  if(text.trim().length==0){
      $('#errcm').show()
      $("#errcm").html("Empty Comment input please input your Comment properly.")
      valCheckCM = false
      return false
  }
  if(text.length>100){
      $('#errcm').show()
      $("#errcm").html("Comment input exceed max length please try again.")
      valCheckCM = false
      return false
  }
  $('#errcm').hide()
  valCheckCM = true
  return true
}
</script>
{% endblock %}