{% extends "partials/base.html"%}
{% block content %}

        <article class="media content-section">
          <h5 id="err" style='color:red;text-align:center;display:none'></h5>
            <div class="media-body">
              <h2>Library Books:</h2>
              <div class="article-metadata" id="div1">
                <a class="mr-2" href="#"></a>
                <h2><a class="article-title" href="#"></a></h2>
              </div>

        </article>

{% endblock content %}
{% block javascript %}
<script>
  homeList();
</script>
{% endblock %}

