{% extends "partials/base.html"%}
{% block content %}

        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata" id="div1">
                <a class="mr-2" href="#"></a>
                <h2><a class="article-title" href="#"></a></h2>
              </div>

        </article>

{% endblock content %}
{% block javascript %}
<script>
$(document).ready(function(){
  $.ajax({
    url: 'http://127.0.0.1:8000/book',
    type: "GET",
    dataType: "json",
    success: (data) => {
      console.log(data)
      var html='';
      $(data).each(function(index,value){
        html+="<div class="+'article-metadata'+" ><h2><a class="+'article-title'+" href="+'#'+" >"+ value.title + "</a></h2>"
        $(value.author).each(function(index,value2){
          html+="<a class="+'mr-2'+"  >" + value2.full_name + "</a>"
        })
        html+="</div>"
      })
      
      $("#div1").append(html)

    },
    error: (error) => {
      console.log(error);
    }
  });

})
</script>
{% endblock %}

